html,
body {
    margin: 0; /* Remove default margins on body and html */
    padding: 0; /* Remove default padding */
    box-sizing: border-box;
}
.app-container .car {
    background: url("../assets/cars/car0.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.app-container .car img {
    object-fit: cover;
}

.app-container {
    /* display: flex;
    justify-content: center;
    align-items: center;
    position: relative; */
    width: calc(100dvw - 32px);
    height: calc(100dvh - 32px);
    margin: 16px;
    box-sizing: border-box; /* Ensure borders and padding don't increase size */
    /* border: 1px solid #ede0c8; For debugging */
}

.app-container::-webkit-scrollbar {
    display: none;
}

.app-content {
    display: flex; /* Displays the pages horizontally */
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box; /* Ensure borders and padding don't increase size */
}

.overlay-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; /* Parent for positioning children */
    width: 100%;
    height: 100%;
}
/* 
.overlay-container > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.overlay-container .terminal {
    z-index: 2; /* Place Terminal on top */
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
    color: white; /* Terminal text color */
    opacity: 1; /* Adjust overall opacity */
    backdrop-filter: blur(5px); /* Optional: Adds a blur effect */
    pointer-events: auto; /* Allow interaction */
}

.overlay-container .projects {
    z-index: 1;
}
.app-pages {
    display: flex; /* Displays the pages horizontally */
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: 32px;
    margin-right: 32px;
    box-sizing: border-box;
}

.sidenav {
    height: 100%;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
