html,
body {
    margin: 0; /* Remove default margins on body and html */
    padding: 0; /* Remove default padding */
    box-sizing: border-box;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100dvw - 32px);
    height: calc(100dvh - 32px);
    margin: 16px; /* Maintain margin */
    box-sizing: border-box; /* Ensure borders and padding don't increase size */
    border: 1px solid; /* For debugging */
    overflow-y: hidden; /* Prevent vertical scroll */
    overflow-x: auto; /* Allow horizontal scroll */
}

.app-container::-webkit-scrollbar {
    display: none;
}

.app-content {
    display: flex; /* Displays the pages horizontally */
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box; /* Ensure borders and padding don't increase size */
}

.sidenav {
}
