.whole-page {
    display: flex; /* Arrange pages in a row */
    overflow-y: hidden;
    overflow-x: auto; /* Enable horizontal scrolling */
    height: 100vh; /* Full viewport height */
    scroll-snap-type: none; /* Disable any snap type */
    scroll-behavior: smooth; /* Optional: Smooth scrolling */
}
html,
body {
    margin: 0; /* Remove default margins on body and html */
    padding: 0; /* Remove default padding */
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(100dvw - 24px);
    height: calc(100dvh - 24px);
    margin: 12px; /* Maintain margin */
    box-sizing: border-box; /* Ensure borders and padding don't increase size */
    border: 1px solid; /* For debugging */
    overflow-y: hidden; /* Prevent vertical scroll */
    overflow-x: auto; /* Allow horizontal scroll */
}

.app-content {
    display: flex; /* Displays the pages horizontally */
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box; /* Ensure borders and padding don't increase size */

    border: 1px solid blue;
}

.page {
    width: 100vw;
}
