.home-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative; */

    border: 1px solid;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
}

.home-content {
    max-height: 100%;
}
