.project-container {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.project-content::-webkit-scrollbar {
    /* display: none; */
}

.project-content {
}

.project-item {
}

.project-title {
    font-size: 10px;
}

.project-skills {
    font-style: italic;
}

.project-description {
}

.project-item img {
    width: 450px;
    height: auto;
    border: 1px solid;
    border-color: #fff8ed;
    object-fit: contain;
}

.project-link:link {
    color: #f1c789;
    text-decoration: none;
}
.project-link:visited {
    color: #f1c789;
}

.project-link:hover {
    color: #ce2c2c;
    font-weight: bold;
}

.private {
    font-style: italic;
}
