.sidebar{
	/* position: fixed; */
	border: 1px solid;
	border-color: #f2f2f2;
	margin-right: 50px;
	z-index: 1;
	padding: 0.50em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.social {
	/* display: flex; Use flexbox for layout */
	/* gap: 10px;  */
	/* margin-top: 10px; */
	/* width: 200px;   */
	/* height: 200px; */
	border: 1px solid;
}

.logo { 
	width: 50px;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
	font-family: 'Courier New', Courier, monospace;
	font-size: 30px;
	font-weight: 750;

	display: flex; 
	justify-content: center; 
	align-items: center;

	writing-mode: vertical-lr;
	text-orientation:sideways;   
	transform: rotate(180deg);
    color: #f2f2f2;
}
.pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 
.nav-list {
	padding: 0;
	margin: 0;
	
    list-style-type: none; /* Add this line to remove bullet points */
}

.nav-item {
	margin-bottom: 0;
	/* border-bottom: 1px solid white; Single border around the links container */
	border-top: 1px solid white;
}

.nav-item a {
	color: white;
	font-family: 'Courier New', Courier, monospace;
}

.nav-item a:hover {
	/* color: #a8a39d; */
    color: #f2f2f2;
	filter:drop-shadow(0 0 5em #ede0c8);
}

.nav-item.extraBorder  {
	border-bottom: 1px solid;
}