.sidebar-container {
    border: 1px solid #f2f2f2;
    z-index: 1;
    padding: 16px;
    box-sizing: border-box;
    height: 100%;
}

.sidebar-content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.sidebar-item {
}

.social {
}

.logo {
    width: 52px;
    will-change: filter;
    transition: filter 300ms;
    padding: 4px;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;

    writing-mode: vertical-lr;
    text-orientation: sideways;
    transform: rotate(180deg);
    color: #f2f2f2;
    border: none;
}

/*Displays text and hides the icons*/
.text {
    display: inline;
}

.icon {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        /* position: fixed; */
        margin: 0;
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .title {
        font-family: "Courier New", Courier, monospace;
        font-size: 18px;
        writing-mode: horizontal-tb;
        text-orientation: upright;
        transform: none; /* Ensure no rotation */
    }

    .social {
        display: flex;
        flex-direction: row;
    }

    .logo {
        width: 35px;
        will-change: filter;
        transition: filter 300ms;
    }

    .pages {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .text {
        display: none;
    }

    .icon {
        display: flex;
    }
}

.pages {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-list {
    padding: 0;
    margin: 0;
    list-style-type: none; /* Add this line to remove bullet points */
}

.nav-item {
    margin-bottom: 0;
    border-top: 1px solid;
}

.nav-item a,
.extraBorder a {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.nav-item a:hover {
    /* color: #a8a39d; */
    color: #f2f2f2;
    filter: drop-shadow(0 0 5em #ede0c8);
}

.extraBorder {
    color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

@media (max-width: 768px) {
    .icon {
        width: 30px;
        height: 30px;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        /* border-top: 1px solid blue; */
        text-align: center;
        border: none;
    }
    .extraBorder {
        border-top: none;
        border-bottom: none;
        color: white;
    }
}
