.terminal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
}

.terminal-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #343a4a;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: "Consolas", "Courier New", monospace;
    color: #f1c789;
    overflow: hidden;
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    font-size: 16px;
}

.terminal-line {
}

.prompt {
    color: #28afbb;
}

.command {
    color: #f1c789;
}

.terminal-input {
    color: #f1ebc3;
    background-color: #343a4a;
    cursor: default;
    border: none;
    font-size: 16px;
}

.terminal-input:focus {
    color: #f1c789;
    font-size: 16px;
    border: none;
}

/* .terminal-input:not(focus) {
} */

.terminal-output {
    color: #f1c789; /* Standard white output */
}

.ascii-art {
    color: #ce2c2c;
}
.command-item {
    display: flex; /* Use flexbox for alignment */
    margin: 0px;
    margin-bottom: 16px;
    gap: 20px; /* Add space between columns */
}

.command-cmd {
    font-size: 16px;
    margin: 0;
    flex: 0 0 150px;
    color: #2fa14c; /* Green color for commands */
    font-weight: bold;
    cursor: pointer;
}

.command-desc {
    margin: 0;
    flex: 1;
    color: #f1c789;
}

.secret-message {
    color: #f54a0b;
    font-size: 16px;
}

.help-output {
}

.entry-output {
    margin-top: 16px;
    margin-bottom: 16px;
}

.output-unknown-tag {
    color: #2fa14c;
    font-weight: bold;
    font-size: 16px;
}

.output-unknown {
    color: #ce2c2c;
    font-size: 16px;
}
