@tailwind base;
@tailwind components;
@tailwind utilities;

/*---------------------------------------------------------------------------*/

:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

/* Checks if user has light or dark mode */
/* Traditional Method*/
/* Compatibility - 96.87% as of Dec 2024 */
/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #21232b;
    }
} */

/* 
@media (prefers-color-scheme: dark) {
    body {
        background-color: #21242b;
    }
} */

/* light-dark() */
/* Compatibility - 86.12% as of Dec 2024 */
/* :root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(#f5f4f0, #21242b);
    color: light-dark(#21211f, #eee);
} */
